.cursor {
  transition: 
    border-color 100ms ease-in-out;

  z-index: 10;

  width: var(--width, 48px);
  height: var(--height, 48px);
  border: 1px solid var(--color);
  border-radius: var(--rounded);
  opacity: var(--opacity);

  transform:
      translate(-50%, -50%)
      translate(var(--x, 0px), var(--y, 0px))
      scale(var(--scale, 1));
}

.cursor .caret {
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  transform: translateY(-50%) scaleY(.25) rotate(var(--rotate, 0deg));
  opacity: 0;
}

.cursor-entered {
  opacity: 1 !important;
  transform: translateY(-50%) scaleY(1) rotate(var(--rotate, 0deg)) !important;
}

.cursor-exiting {
  opacity: 0 !important;
  transform: translateY(-50%) scaleY(.25) rotate(var(--rotate, 0deg)) !important;
}
