
h1 {
  @apply text-yellow-300 text-[24px] mb-6 text-center font-bold;
}

p, pre {
  @apply !mt-4;
}

pre, pre * {
  font-family: 'Fira Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

video {
  @apply my-4
}

code {
  display: block;
  width: 100%;
  padding: 1rem;
}

.highlighted {
  display: inline-block;
  width: 100%;
  background: red;
}

.line {
  line-break: anywhere;
  white-space: pre-wrap;
}
